<div class="app-container">
  <div class="container" fxLayout="column" fxLayoutAlign="space-around center">
    <div fxLayout="row wrap" fxLayoutAlign="space-around center">
      <mat-card>
        <mat-card-header>
          <mat-icon mat-card-avatar color="primary">location_city</mat-icon>
          <mat-card-title>Sites Monitored</mat-card-title>
          <mat-card-subtitle>Sites you monitor</mat-card-subtitle>
        </mat-card-header>
        <mat-divider></mat-divider>
        <mat-card-content>
          <div class="big-digits">567</div>
        </mat-card-content>
      </mat-card>
      <mat-card>
        <mat-card-header>
          <mat-icon mat-card-avatar color="primary">new_releases</mat-icon>
          <mat-card-title>Open Issues</mat-card-title>
          <mat-card-subtitle>Your open issues</mat-card-subtitle>
        </mat-card-header>
        <mat-divider></mat-divider>
        <mat-card-content>
          <div class="big-digits">29</div>
        </mat-card-content>
      </mat-card>
      <mat-card>
        <mat-card-header>
          <mat-icon mat-card-avatar color="primary">battery_full</mat-icon>
          <mat-card-title>Lifetime Energy</mat-card-title>
          <mat-card-subtitle>The entire lifetime energy production</mat-card-subtitle>
        </mat-card-header>
        <mat-divider></mat-divider>
        <mat-card-content>
          <div class="big-digits">1.5</div>
        </mat-card-content>
      </mat-card>
    </div>
    <div fxLayout="row wrap" fxLayoutAlign="space-around center">
      <mat-card>
        <mat-card-header>
          <mat-icon mat-card-avatar color="warn">error</mat-icon>
          <mat-card-title>Inverters</mat-card-title>
          <mat-card-subtitle>Sites sites with inverters down</mat-card-subtitle>
        </mat-card-header>
        <mat-divider></mat-divider>
        <mat-card-content>
          <div class="big-digits">13</div>
        </mat-card-content>
      </mat-card>
      <mat-card>
        <mat-card-header>
          <mat-icon mat-card-avatar color="accent">warning</mat-icon>
          <mat-card-title>Monitor Errors</mat-card-title>
          <mat-card-subtitle>Sites with monitoring errors</mat-card-subtitle>
        </mat-card-header>
        <mat-divider></mat-divider>
        <mat-card-content>
          <div class="big-digits">4</div>
        </mat-card-content>
      </mat-card>
      <mat-card>
        <mat-card-header>
          <mat-icon mat-card-avatar color="warn">perm_scan_wifi</mat-icon>
          <mat-card-title>Internet Communication</mat-card-title>
          <mat-card-subtitle>Sites with internet comm errors</mat-card-subtitle>
        </mat-card-header>
        <mat-divider></mat-divider>
        <mat-card-content>
          <div class="big-digits">12</div>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
</div>