<div class="loader" *ngIf="(uiStateStore.uiState$ | async) as uiState">
  <mat-progress-bar *ngIf="uiState.actionOngoing" mode="indeterminate" color="accent"></mat-progress-bar>
</div>
<mat-toolbar class="header" color="primary" fxLayout="row" fxLayoutAlign="space-between center">
  <div fxLayout="row" fxLayoutAlign="space-between center">
    <app-logo></app-logo>
    <nav>
      <ul fxLayout="row" fxLayoutAlign="space-between center">
        <li><a [routerLink]="['/dashboard']" routerLinkActive="active">Home</a></li>
        <li><a [routerLink]="['/reports']" routerLinkActive="active">Reports</a></li>
        <li><a [routerLink]="['/users']" routerLinkActive="active">Users</a></li>
        <li><a [routerLink]="['/organizations']" routerLinkActive="active">Organizations</a></li>
      </ul>
    </nav>
  </div>
  <div fxLayout="row" fxLayoutAlign="space-between center">
    <form><input matInput #searchBox class="global-search"></form>
    <span><a>jweaver</a></span>
    <mat-icon>settings</mat-icon>
  </div>
</mat-toolbar>
<div class="secondary-toolbar" *ngIf="(uiStateStore.route$) as route">
  <mat-toolbar fxLayout="row" fxLayoutAlign="space-between center" >
      <div fxLayout="row" fxLayoutAlign="center start">
        <mat-icon class="title-bar-icon" color="primary">{{ route.icon }}</mat-icon>
        <span class="title-bar-text">{{ route.title }}</span>
      </div>
    </mat-toolbar>
</div>