.header {
  position: fixed;
  top: 0;
  width: 100%;
  left: 0;
  z-index: 2;
  box-shadow: 0 3px 1px -2px rgba(0,0,0,.2), 0 2px 2px 0 rgba(0,0,0,.14), 0 1px 5px 0 rgba(0,0,0,.12);
}
mat-icon {
  color: rgba(255,255,255,.6);
}
nav ul {
  padding: 0;
  margin: 0 20px;
  list-style: none;
}
a {
  font-size: 14px;
  letter-spacing: 1px;
  font-weight: 400;
  color: rgba(255,255,255,.6);
  text-decoration: none;
  margin: 0 20px;
}
li a {
  text-transform: uppercase;
}
nav a:hover, nav .active {
  color: white;
}
.global-search {
  width: 300px;
  background: rgba(255,255,255,.75);
  box-shadow: none;
  border: none;
  height: 17px;
  padding: 3px;
  border-radius: 2px;
  outline: none;
}
.global-search:focus {
  background: white;
}
.loader {
  height: 5px;
  position: fixed;
  top: 0;
  width: 100%;
  left: 0;
  z-index: 3;
}
.secondary-toolbar {
  margin-top: 64px;
}
.secondary-toolbar .mat-toolbar {
  background: white;
  border-bottom: 1px solid rgba(0,0,0,.1);
}
.secondary-toolbar .mat-toolbar > div {
  margin-left: 24px;
}
.secondary-toolbar .mat-toolbar > div .mat-icon {
  padding-right: 20px;
  font-size: 36px;
}
.title-bar-text {
  text-transform: capitalize;
}
.title-bar-icon {
  margin-top: -2px;
}